* {
    margin: 0;
    /* background-color: black; */
}

body {
    margin: 0;
    /* background-color: black; */
}

.heading {
    display: flex;
    color: green;
    z-index: 1000;
    /* background-color: rgba(11, 64, 188, 0.5); */
    margin: 0;
    /* z-index: 1; */
}